# Nexus Repository Configuration
registry=http://172.202.28.224:8081/repository/demo-npm-hosted/

# Authentication (Username/Password) - Full repository path
//172.202.28.224:8081/repository/demo-npm-hosted/:username=demo-user
//172.202.28.224:8081/repository/demo-npm-hosted/:_password=YWRtaW4=
//172.202.28.224:8081/repository/demo-npm-hosted/:always-auth=true

# SSL configuration (if using self-signed certificates)
strict-ssl=false